<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo55zdfHttJ3i2QfXC2jkLfdqLryOHlQs</string>
	<key>GCM_SENDER_ID</key>
	<string>180976427102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.optic</string>
	<key>PROJECT_ID</key>
	<string>optic-8f64e</string>
	<key>STORAGE_BUCKET</key>
	<string>optic-8f64e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180976427102:ios:367c4a1c50b004cc7f14cf</string>
</dict>
</plist>